textarea {
   font-family: inherit;
   font-size: inherit;
}

input {
   font-family: inherit;
   font-size: inherit;
}

#imgPreviewL{
	max-width	:37vw;
	max-height	:26.2vw;
	margin		:1.2em;
}
#imgPreviewP{
	height		:37vw;
	max-width	:26.2vw;
	/* margin:-1.2em 0 0em 3.8em;*/
	margin-left			:72px;
	margin-top			:-34px;
	transform			:rotate(270deg);
	-ms-transform		:rotate(270deg); /* IE 9 */
	-webkit-transform	:rotate(270deg); /* Opera, Chrome, and Safari */
}

#imgInput{
	width:20vw;margin:auto;text-align:center;font-size:small;
	display:none;
}